<launch>

<!-- Launch brain_node -->
    
    <node name="death_hormone_node" pkg="t-rex" type="death_hormone.py" output="screen">
    </node>
    
    <node name="satiety_hormone_node" pkg="t-rex" type="satiety_hormone.py" output="screen">
    </node>
   
    <node name="sleep_hormone_node" pkg="t-rex" type="sleep_hormone.py" output="screen">
    </node>
    
    <node name="MQTT_node" pkg="t-rex" type="MQTT.py" output="screen">
    </node>
    
   
 
</launch>

